<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Domain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Infrastructure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UserInterface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ios_rx_ranme.store.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B0085F71E86551C002C7836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B0086141E8655AA002C7836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B0086261E8655F0002C7836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B0086371E865600002C7836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B0086481E865656002C7836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
